<a href="https://colab.research.google.com/github/JoyDas21/60-Days-of-Python/blob/main/Day~7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP

for Loop

In [15]:
subject = ['AI', 'Data Science', 'Statistics', 'Math']
for x in subject:
  print(x)

AI
Data Science
Statistics
Math

In [16]:
data ='python'
data[0]

'p'

In [17]:
data[-1]

'n'

In [18]:
for x in data:
  print(x)

p
y
t
h
o
n

In [19]:
range(10)

range(0, 10)

In [20]:
for x in range(len(data)):
  print(data[x])

p
y
t
h
o
n

In [21]:
for x in range(len(data)):
  print(data[x])

p
y
t
h
o
n

In [23]:
data = 'My name is Joy Das'
for x in range(len(data)):
  print(data[x])

M
y

n
a
m
e

i
s

J
o
y

D
a
s

In [22]:
data = 'My name is Joy Das'
data=data.split()
for x in range(len(data)):
  print(data[x])

My
name
is
Joy
Das

In [24]:
data = 'My name is Joy Das' ##How many times loop run.
data=data.split()
for x in range(len(data)):
  print(data[x],x)

My 0
name 1
is 2
Joy 3
Das 4

In [26]:
n = [1,2,3,4,5]
total = 0
for x in n:
  total = total + x
  print(total,x)
print('Total is : ',total)

1 1
3 2
6 3
10 4
15 5
Total is :  15

In [30]:
for i in range(10):
  print(i,'.','Data Scienace')

0 . Data Scienace
1 . Data Scienace
2 . Data Scienace
3 . Data Scienace
4 . Data Scienace
5 . Data Scienace
6 . Data Scienace
7 . Data Scienace
8 . Data Scienace
9 . Data Scienace

In [31]:
for i in range(5,10): #n-1
  print('Data Science',i)

Data Science 5
Data Science 6
Data Science 7
Data Science 8
Data Science 9

In [32]:
for i in range(1,10,2): #i = i+2
  print('Data Science',i)

Data Science 1
Data Science 3
Data Science 5
Data Science 7
Data Science 9

In [36]:
for i in range(10,-10,-2):
  print('Data Science',i)

Data Science 10
Data Science 8
Data Science 6
Data Science 4
Data Science 2
Data Science 0
Data Science -2
Data Science -4
Data Science -6
Data Science -8