<a href="https://colab.research.google.com/github/JoyDas21/60-Days-of-Python/blob/main/Day~4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numeric Data.

In [ ]:
x = 10 #int
y = 10.5 #float
z = 10 + 5j #10 is real number & 5j is imaginary number

In [ ]:
type(x)

int

In [ ]:
type(y)

float

In [ ]:
type(z)

complex

In [ ]:
isinstance(z,complex) #isinstance returns Bool value.

True

In [ ]:
isinstance(x,float)

False

In [ ]:
#int to float...
n = float(x)

In [ ]:
n

10.0

In [ ]:
type(n)

float

In [ ]:
type(x)

int

In [ ]:
n

10.0

In [ ]:
n = int(n)
n

10

In [ ]:
type(n)

int

In [ ]:
#int to complex...
n = complex(n)

In [ ]:
type(n)

complex

In [ ]:
a = complex(input("Enter your complex number: "))

Enter your complex number: 10

In [ ]:
n

(10+0j)

Boolean

In [ ]:
x = True
y = False

In [ ]:
x

True

In [ ]:
y

False

Sequence Data

In [ ]:
#list
l = [1,2,3,4,5,True,[1,2],(1,2,3,4)]

In [ ]:
l

[1, 2, 3, 4, 5, True, [1, 2], (1, 2, 3, 4)]

In [ ]:
l[0]

1

In [ ]:
l[-1]

(1, 2, 3, 4)

In [ ]:
l[-1][1]

2

In [ ]:
type(l)

list

In [ ]:
isinstance(l,list)

True

In [ ]:
#tupple()

t = (1,3,4,5,'Ai')
t

(1, 3, 4, 5, 'Ai')

In [ ]:
type(t)

tuple

In [ ]:
t[0:4]

(1, 3, 4, 5)

In [ ]:
#Range()

x = range(10)

In [ ]:
x

range(0, 10)

In [ ]:
for i in x:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = range(5,20)
for i in x:
  print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#3rd case...

x = range(5,20,4)
for i in x:
  print(i)

5
9
13
17

In [ ]:
#4th case..

x = range(20,1,-5)
for i in x:
  print(i)

20
15
10
5

In [ ]:
#array 
import array as arr

In [ ]:
a = arr.array('i',[1,2,3,4,5])

In [ ]:
a

array('i', [1, 2, 3, 4, 5])

In [ ]:
a = arr.array('f',[1.5,3,4,5,5])
a

array('f', [1.5, 3.0, 4.0, 5.0, 5.0])

In [ ]:
#String

x = "data"
type(x)

str

In [ ]:
#Set...

s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [ ]:
type(s)

set

In [ ]:
#Dictionary..

dict={
    'varsity': 'Daffodil Internatinal University',
    'Dept' : 'Computer Science & Engineering'
}

In [ ]:
dict

{'varsity': 'Daffodil Internatinal University',
 'Dept': 'Computer Science & Engineering'}

In [ ]:
type(dict)

dict

In [ ]:
dict.keys()

dict_keys(['varsity', 'Dept'])

In [ ]:
dict.values()

dict_values(['Daffodil Internatinal University', 'Computer Science & Engineering'])

In [ ]:
#Data Frame.. Pandas.

import pandas as pd
df = pd.read_csv('/content/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
df.shape

(10, 4)

In [ ]:
df.head(8)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes

In [ ]:
df.info

<bound method DataFrame.info of    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes>

In [ ]:
#Binary Type...

byte_arr = bytearray('ABCDEF','utf-8')

In [ ]:
type(byte_arr)

bytearray

In [ ]:
byte_arr

bytearray(b'ABCDEF')

In [ ]:
memoryview(byte_arr)

In [ ]:
memoryview(byte_arr)[1]

66